<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Food Court</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>Telemedicine</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/shops">medicine</a></li>
                <li><a href="#contact-details">Contact us</a></li>
                </li>


                <li class="dropdown">
                    <a class="dropbtn">Login &#9662;</a>
                    <div class="dropdown-content">
                        <a href="/login">
                            <%= user.name || Login / Signup%>
                        </a>
                        <%if(user){%>
                            <a href="/viewProfile">View Profile</a>
                            <a href="/logout">Logout</a>
                            <%}%>
                    </div>
                </li>
            </ul>
        </nav>
    </header>