<%- include('../user/layouts/header') %>
    <link rel="stylesheet" href="/assets/css/login.css" />
    <div class="container">
        <h2 id="form-title">User Signup</h2>
        <form id="signup-form" action="/seller/shopForm" method="post" enctype="multipart/form-data">
            <input type="text" id="Shopname" name="name" placeholder="Shopname" required />
            <input type="text" id="description" name="description" placeholder="Description" required />
            <input type="hidden" name="sellerId" value="<%= sellerId %>" />
            <input type="file" name="image" placeholder="Photo">
            <button type="submit">submit</button>
        </form>
        <p style="color: green">
            <%= msg %>
        </p>
    </div>
    <%- include('../user/layouts/footer') %>